<div class="slide-code">
  <h3>{{slide.pieceName}}</h3>
  <p class="filename">{{slide.filename}} <span class="status status-{{slide.status}}">{{slide.status}}</span></p>
  <pre><code class="diff hljs">{{slide.patch}}</code></pre>
</div>
