<div class="slide-title">
  <div class="rm-badge">pr-deck</div>
  <h1>{{slide.prTitle}}</h1>
  <p class="subtitle">
    by <strong>{{slide.author}}</strong> &nbsp;·&nbsp; {{slide.date}}
  </p>
  {{#if slide.jiraTicket}}
  <p class="jira-ticket">{{slide.jiraTicket}}</p>
  {{/if}}
  <p class="pr-url"><a href="{{slide.prUrl}}" target="_blank">{{slide.prUrl}}</a></p>
</div>
