<div class="section-code">
  <h3>{{section.pieceName}}</h3>
  <p class="filename">{{{file_link section.filename}}} <span class="status status-{{section.status}}">{{section.status}}</span></p>
  <pre><code class="diff hljs">{{section.patch}}</code></pre>
</div>
