<div class="section-piece-summary">
  <div class="piece-counter">{{section.pieceIndex}} / {{section.totalPieces}}</div>
  <h2>{{section.name}}</h2>
  <p class="piece-description">{{{md section.description}}}</p>
  <ul class="file-list">
    {{#each section.files}}<li>{{this}}</li>{{/each}}
  </ul>
</div>
