<div class="section-title">
  <div class="rm-badge">prize</div>
  <h1>{{section.prTitle}}</h1>
  <p class="subtitle">
    by <strong>{{section.author}}</strong> &nbsp;·&nbsp; {{section.date}}
  </p>
  {{#if section.jiraTicket}}
  <p class="jira-ticket">{{section.jiraTicket}}</p>
  {{/if}}
  <p class="pr-url"><a href="{{section.prUrl}}" target="_blank">{{section.prUrl}}</a></p>
</div>
